@tailwind base;
@tailwind components;
@tailwind utilities;
@import './foundation/config';

html {
  /* Prevent font scaling in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: $bg-color;
  color: $primary-color-1;
  font-size: 14px;
  font-family: 'Palanquin Dark','Montserrat', sans-serif;

  img {
    max-width: 100%;
    height: auto;
  }
}

.rectext,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: bold;
  margin: 3rem 0 2rem 0;
  line-height: 1.2;
}

h2 {
  font-size: 2.8rem;
  margin: 2rem 0 1rem 0;
}

h3 {
  font-size: 2.1rem;
  margin: 1.6rem 0 1rem 0;
}

h5 {
  font-size: 1.7rem;
  margin: 1.4rem 0 0.7rem 0;
}

.strokeTitle {
  right:0;
  position: relative;
  color: #EC6F91;
  z-index: 4;
  font-family: 'Cherry Cream Soda', cursive;
  font-size: 40px;
}
.strokeTitle::before {
    content: attr(data-stroke);
    position: absolute;
    z-index: -1;
    font-family: 'Cherry Cream Soda', cursive;
    -webkit-text-stroke: 15px #ffffff;
}
.strokeAbout {
  color: rgba(255, 255, 255, 0.8);
  -webkit-text-stroke: 2px #EC6F91; /* Safari/Chrome */
  text-stroke: 3px #EC6F91;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 40px;
}
.cardText {

  font-family: 'Palanquin Dark', sans-serif;
}

.strokeMobileNavbar {
  font-size: 24px;
  right:0;
  position: relative;
  color: #FE87BD;
  z-index: 4;
  // font-size: 125px;
}
.strokeMobileNavbar::before {
    content: attr(data-stroke);
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 3px #7B7478;
}

.btn-connect {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    width: 230px !important;
    height: 60px !important;
    text-align: center !important;
    // background-color: #FAC92E !important;
    font-size: 24px !important;
    & > div {
      width: 100% !important;
      height: 100% !important;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 640px) { 
  .strokeTitle {
    right:0;
    position: relative;
    color: #EC6F91;
    z-index: 4;
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 64px;
  }
  .strokeTitle::before {
      content: attr(data-stroke);
      position: absolute;
      z-index: -1;
      -webkit-text-stroke: 20px #ffffff;
  }
}
@media (min-width: 1024px) {

  .strokeTitle {
    right:0;
    position: relative;
    color: #EC6F91;
    z-index: 4;
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 96px;
  }
  .strokeTitle::before {
      content: attr(data-stroke);
      position: absolute;
      z-index: -1;
      -webkit-text-stroke: 20px #ffffff;
  }

.btn-connect {
  button {
    width: 150px !important;
    height: 40px !important;
    text-align: center !important;
    // background-color: #FAC92E !important;
    font-size: 16px !important;
  }
}

button {
  white-space: nowrap;
}

}
