.marquee-text {
  animation: marquee 20s linear infinite alternate;
}
.strokeX {
  /* font-family:'Permanent Marker' ,'Palanquin Dark'; */
  color: transparent;
  background: linear-gradient(90deg,#D0F3F6 20%,#F59CC8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  z-index: 4;
}
.strokeX::before {
  content: attr(data-stroke);
  position: absolute;
  /* z-index: -1; */
  -webkit-text-stroke: 0.2rem #ffffff;
}

@media (min-width: 640px) { 
  .strokeX {
    /* font-family:'Permanent Marker' ,'Palanquin Dark'; */
    color: transparent;
    background: linear-gradient(90deg,#D0F3F6 20%,#F59CC8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1;
    z-index: 4;
  }
  .strokeX::before {
    content: attr(data-stroke);
    position: absolute;
    /* z-index: -1; */
    -webkit-text-stroke: 0.4rem #ffffff;
  }
  
}


@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: 300%;
  }
}
