  .marquee-text {
    animation: marquee 40s linear infinite alternate;
  }
  .marquee-text2 {
    animation: marquee2 40s linear infinite alternate;
  }
  @keyframes marquee {
    0% {
      left: -150%;
    }
    100% {
      left: 50%;
    }
  }
  @keyframes marquee2 {
    0% {
      left: 50%;
    }
    100% {
      left: -150%;
    }
  }
    